# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Build and packaging
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
